/ {
    zephyr,user {
        wakeup-gpios = <&arduino_header 8 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
        test-gpios = <&arduino_header 9 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&arduino_header 10 GPIO_ACTIVE_HIGH>;
    };
};

&arduino_serial {
    current-speed = < 38400 >;
    parity = "none";
    status = "okay";
};
